
The programs included with the Debian GNU/Linux system are free software;
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes with ABSOLUTELY NO WARRANTY, to the extent
permitted by applicable law.

{% if ansible_skript is defined and skript_version is defined %}
Erstellt von {{ ansible_skript }} mit Version {{ skript_version }}
{% endif %}
