deb http://192.168.4.130/debian/ bullseye main contrib non-free
deb-src http://192.168.4.130/debian/ bullseye main contrib non-free

deb http://192.168.4.130/debian-security/ bullseye-security main contrib non-free
deb-src http://192.168.4.130/debian-security/ bullseye-security main contrib non-free

deb http://192.168.4.130/debian/ bullseye-backports main contrib non-free
deb-src http://192.168.4.130/debian/ bullseye-backports main contrib non-free
